<div class="cabecalho">
  <nav class="navbar navbar-light bg-light" >
  
    <a class="navbar-brand" routerLink="" style="color: rgb(255, 255, 255);
      font-size: 30px; font-family: Arial Black;">{{ titulo }} - Por Aguinaldo Borges</a>
  </nav>
</div>

<div style="padding-top:5%;padding-bottom:5%; margin-left:20%;margin-right:20%; background-color: white;">
  <h4 style="margin-left:29%; color: dimgray;">Cadastre e acompanhe seus lembretes:</h4>
  <router-outlet></router-outlet>

  <app-error-msg></app-error-msg>
</div>

<div class="rodape">
  <p>Copyright © 2021 Todos Os Direitos Reservados – Desenvolvido por Aguinaldo Borges</p>
  
</div>